name: Update Tor Bridges

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:
    inputs:
      upload_to_telegram:
        description: 'Upload to Telegram? (true/false)'
        required: true
        default: 'false'
        type: choice
        options:
          - 'true'
          - 'false'

permissions:
  contents: write

jobs:
  scrape-and-update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4

      - name: Run Scraper
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          TELEGRAM_UPLOAD: ${{ github.event.inputs.upload_to_telegram || 'false' }}
        run: python main.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          
          git pull origin main --rebase --autostash
          
          git add bridge/ README.md
          
          # commit Ùˆ push
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Update bridges, stats and tested files [skip ci]"
            git push
          fi
